<% if companies.present? %>
<div class='companies container col-md-12 seperator_blue_top'>
  <div class="col-md-3">
    <h3>companies</h3>
  </div>
  <div class="seperator_blue_left col-md-9">
    <ul class="extra_margin_top">
      <% companies.each do |company| %>
      <li class="company">
        <h4><%= company.title %></h4>
        <p>
          <% if company.url.present?  %>
          <%= link_to company.url, company.url %>
          <% end %>
        </p>
        <% if company.description %>
        <p><%= company.description %></p>
        <% end %>
        <% if company.start_date.present? || company.end_date.present? %>
        <p>
          <%= rangify_dates(company.start_date,  company.end_date) %>
        </p>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
